h1 {
    color: #ecc94bff;
    font-family: "Federant", serif;
}

div {
    background-color: white;
}

body {
    background-image: url("/img/bg.svg");
    font-family: "Red Hat Text", sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#header {
    border: 2px solid #ecc94bff;
    width: 100%;
}

#nav {
    border-left: 2px solid #ecc94bff;
    border-right: 2px solid #ecc94bff;
    width: 100%;
}

#content {
    border: 2px solid #ecc94bff;
    width: 100%;
}
/*
#ecc94bff          gold

*/